* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* compleet flex */
html {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.flex-container {
  border: hidden;
  background-color: rgba(53, 143, 113, 0.4);
  padding: 10px;
  width: 50%;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
}

/* flex-Items */
div {
  border: 5px solid white;
  width: 50%;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex-item1 {
  color: #fff;
  border: hidden;
}

.flex-item1 h1 {
  color: #fff;
  text-align: center;
}

.header {
  display: flex;
  border: 5px solid black;
  background-color: brown;
  border-radius: 10%;
  height: 100px;
  width: 50%;
  margin: auto;
}

.win-lose {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: hidden;
}

.win-lose > p {
  display: flex;
  width: 100px;
  font-size: small;
  align-items: center;
  justify-content: center;
}

.won{
  border: 3px dotted green;
  height: 42px;
  /* text-align: center; */
}

.draw {
  border: 3px dotted blue;
  height: 42px;
  /* text-align: center; */
}

.lose{
  border: 3px dotted red;
  height: 42px;
  /* text-align: center; */
}

.turn {
  text-align: center;
  color: #fff;
  width: 50%;
  margin: auto;
}

.flex-item2 {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.score-container {
  border: hidden;
  padding-left: 10px;
}

img {
  margin: auto;
  max-width: 50%;
  height: 175px;
}

.flex-item3 {
  display: flex;
  color: #fff;
}

.overlay {
  position: fixed;
  display: none;
  margin: auto;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid lightcyan;
  background-color: rgba(37, 56, 182, 0.832);
  color: #fff;
  z-index: 2;
  cursor: pointer;
}

.rules {
  justify-content: center;
  align-items: center;
  font-size: large;
  margin: auto;
  display: flex;
}

.btn {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  margin: auto;
  border: hidden;
  padding: 10px;
}

button {
  font-size: large;
  cursor: pointer;
  width: 100px;
  height: 35px;
  border: 5px solid black;
  color: rgb(2, 2, 189);
/* Nu zie je het als button selecteer zie je het niet */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
