.grid-container {
    display: grid;
    grid-template-columns: auto 150px  auto auto;
    gap: 10px;
}

.grid-container > div {
    background-color: blue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }