*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: aquamarine;
}

.center {
    margin: auto;
    width: 30%;
    --angle: 0deg;
    border: 10px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
    padding: 10px;
    text-align: center;
  }
  
.box-model{
  margin: auto;
  margin-top: 225px;
  width: 50%;
  height: 50vh;
  border: solid 5px;
  padding: 10px;
  text-align: center;
}
button{
  float: left;
  margin: 2px;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
