* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

body {
  background-color: aquamarine;
 
}

.box-model {
  margin: auto;
  width: 50%;
  height: 90vh;
  border: solid 5px black;
  padding: 10px;
  background-color: green;
}

.center {
  margin: auto;
  width: 30%;
  --angle: 0deg;
  border: 5px solid black;
  animation: 10s rotate linear infinite;
  padding: 2px;
  text-align: center;
  background-color: aqua;
}

/* spelregels hover */
#overlay {
  position: fixed;
  display: none;
  margin: auto;
  width: 40%;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.dice {
  border: 5px solid black;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  background-color: aqua;
}

.dice p {
  text-align: center;
}

.dice img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 30%;
  display: block;
}

.btn-model {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: 100px;
  border: 5px solid purple;
  padding: 5px;
  text-align: center;
  background-color: blueviolet;
}

/* knop in proces, we kunnen hier plaatjes of icons in plaatsen */
button {
  float: center;
}
