*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: aquamarine;

}

.center {
    margin: auto;
    width: 30%;
    --angle: 0deg;
    border: 5px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
    padding: 2px;
    text-align: center;
  }

.header_title{
  margin: auto;
  margin-top: 200px;
  width: 50%;
  height: 50vh;
  border: solid 5px;
  padding: 10px;
}

.box-model{
  margin: auto;
  margin-top: 100px;
  width: 30%;
  height: 100px;
  --angle: 0deg;
  border: 5px solid black;
  padding: 5px;
  text-align: center;
}

/* knop in proces, we kunnen hier plaatjes of icons in plaatsen */
button {
  float: center;
  
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
