* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: aquamarine;

}

.box-model {
  margin: auto;
  margin-top: 200px;
  width: 50%;
  height: 60vh;
  border: solid 5px;
  padding: 10px;
}

.center {
  margin: auto;
  width: 30%;
  --angle: 0deg;
  border: 5px solid;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: 10s rotate linear infinite;
  padding: 2px;
  text-align: center;
  background-color: aqua;
}

.dice {
  border: 5px solid black;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.dice p {
  text-align: center;
}

.dice img {
  width: 35%;
  padding: 10px;
}

.btn-model {
  margin: auto;
  margin-top: 75px;
  width: 50%;
  height: 100px;
  border: 5px solid purple;
  padding: 5px;
  text-align: center;
  background-color: blueviolet;
}

/* knop in proces, we kunnen hier plaatjes of icons in plaatsen */
button {
  float: center;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}